.navigasi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.home-slider {
    margin-top: 3.9rem;
}

.home-fitur {
    margin-top: 7rem;
}

.home-fitur .cbr150 img {
    margin-top: -1rem;
    width: 55%;
}

.home-fitur .card img {
    height: 14rem;
}

.home-fitur .card h4 {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
}

.home-fitur .card p {
    font-size: 1.1rem;
    text-align: justify;
}

.home-cbr150 h2 {
    margin-top: 5rem;
}

.home-cbr150 .carousel-item img {
    margin-top: -3rem;
    width: 50%;
}


.home-spesifikasi {
    padding: 0 1rem;
}

.home-spesifikasi .row1 {
    display: flex;
    justify-content: center;
}

.home-rekomendasi {
    margin-top: 5rem;
    padding: 0 1rem;
}

.home-rekomendasi .card-body a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    background-color: red;
    border-radius: 0.5rem;
    border: 2px solid white;
    transition: .5s;
}

.home-rekomendasi .card-body a:hover {
    background-color: white;
    border-color: red;
    color: red;
}

@media (max-width: 992px) {
    html {
        font-size: 70%;
    }
    .home-fitur .beat img {
        margin-top: -9rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 63%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 58%;
    }
    .home-fitur {
        margin-top: 5rem;
    }
    .home-fitur .cbr150 img {
        margin-top: 1rem;
        width: 75%;
    }
    .home-cbr150 .carousel-item img {
        margin-top: 0.5rem;
        width: 87%;
    }
    .home-spesifikasi {
        margin-top: 3rem;
    }
    .home-aksesoris {
        margin-top: 4rem;
    }
}